
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifier</title>
</head>
<body>

    <h1 style="text-align:center"> welcome to Push Notification </h1>
    <ul id="notifyList">
        {% for user in data %}
            <li>{{ user.first_name }}</li>
        {% endfor %}
    
    </ul>

<script>
    // Create WebSocket connection.
    const ws_sheme = 'ws';
    //http://161.35.50.151/
    const url =  ws_sheme + '://' +  window.location.host + ':8001' +  '/ws/some_url/';
    //const url =  new WebSocket('ws://161.35.50.151:8001/ws/notify"');
    const socket = new WebSocket(url); 
    const li = document.querySelector("#notifyList");

    // Connection opened
    socket.addEventListener('open', function (event) {
        socket.send('Hello Server!');
    });
    var data;
    // Listen for messages
    socket.addEventListener('message', function (event) {
       
        //console.log(event.data)
        data = JSON.parse(event.data)
        console.log(data)
        console.log('Message from server ', data.type);
        

        if(data.event == "New user"){
            let el = document.createElement("li");
            el.innerHTML = `New user <b>${data.username}</b>
                            has joined.`
            li.appendChild(el);
        }
        
        
});
</script>
</body>
</html>